# Byte-compiled / optimized / DLL files
__pycache__/
.gitignore
*.py[cod]
*$py.class

.cache
.idea
.vscode
.DS_Store

.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# virtual environment
.env
.venv
env/
venv/
ENV/


# mkdocs documentation
/site

# Other private files
All PFAS in Lab_w_smiles.xlsx
notebooks/test_fluorinated_compounds.csv
output.profile_default
Example.mol
check.csv
notebooks/5_application.ipynb
notebooks/6_rule_verification_and_new_rules.ipynb
notebooks/Example.mol
notebooks/output.pdf 
notebooks/check.csv
notebooks/test_fluorinated_compounds.csv
# All temporary files
temp*